<h1>Be wild Creations !</h1>

<ul>
  <% @products.each do |product| %>
    <%= link_to product_path(product) do %>
      <li><%= product.name %> - <%= product.price %> CAD <%= image_tag product.photo, width: 200, height:200 %></li>
      <% end %>
  <% end %>
</ul>
